body {
	background:none;
	background:white url(images/gridbg.gif) repeat fixed center top;
}

a {color:#c21515;}
a:hover {color:#c21515;}
#footer a.url {color:#f8eaa7;}

.rounded {border:1px solid #DEDEDE;}
#top_bar {background:transparent url(images/headerbg.png) repeat-x top left;}
#right_links a{color: white !important;}
#footer {background:#eb7009 url(images/footerbg.png) repeat-x top left;}
#footer{color: white;}
#footer h2{color: white !important;}
#footer a {color:#f8eaa7;}
#footer ul li{font-style: italic;}





